<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">hieunguyentheking</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/HibernateDB</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <mapping class="hibernateMapping.Customer"/>
        <mapping class="hibernateMapping.Bill"/>

    </session-factory>
</hibernate-configuration>